.main__edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  min-height: 505px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  margin-bottom: 239px;
  margin-top: 59px;

  .edit-profile-form__title {
    margin: 0;
    margin-top: 48px;
    margin-bottom: 9px;
    width: 311px;
    height: 28px;
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  .edit-profile-form__form {
    display: flex;
    flex-direction: column;

    .form-label {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #262626;
      margin-top: 12px;
    }

    .form-input {
      font-family: Roboto;
      font-size: 16px;
      line-height: 24px;
      width: 320px;
      height: 40px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.75);
      margin-bottom: 2px;
      text-indent: 12px;
    }

    .form-input:hover {
      outline: 1px solid #5eb1ff;
    }

    .form-input:focus {
      outline: 1px solid #1890ff;
    }

    .form__span-error {
      font-family: Roboto;
      font-size: 14px;
      color: #f5222d;
    }

    .form__submit {
      align-self: center;
      width: 325px;
      height: 40px;
      color: #ffffff;
      background: #1890ff;
      border-radius: 4px;
      border: 0;
      margin: 0;
      margin-bottom: 48px;
      margin-top: 21px;
      font-family: Roboto;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      &:hover {
        background: #188fff9d;
      }

      &:active {
        background: #1890ff;
      }
    }

    .form__spin {
      margin-top: 21px;
      align-self: center;
    }
  }
}
