.header__auth-btns {
  display: flex;
  align-items: center;

  .auth-btns__sign-in {
    width: 84px;
    height: 35px;
    font-size: 18px;
    line-height: 28px;
    margin-right: 19px;
    border: 0;
    background-color: #ffffff;
    font-family: Inter;
    text-decoration: none;
    text-align: start;
    cursor: pointer;

    &:hover {
      color: #0000009b;
    }

    &:active {
      color: #000000d9;
    }
  }

  .auth-btns__sign-up {
    width: 109px;
    height: 51px;
    font-size: 18px;
    line-height: 28px;
    color: #52c41a;
    margin-right: 22px;
    border: 1px solid #52c41a;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Inter;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #53c41a93;
      border: 1px solid #53c41a9e;
    }

    &:active {
      color: #52c41a;
      border: 1px solid #52c41a;
    }
  }
}
